<div class="container">
  <h1> Travellers </h1>
  <div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4">
      <div class="img-thumbnail">
        <%= image_tag user.profile_image %>
      </div>
    </div>
    <div class="col-md-8">
      <p><strong>Name: <%= user.first_name %> <%= user.last_name %> </strong></p>
      <p><strong>Current city: <%= user.current_city %></strong></p>
      <%= link_to "View Profile", user_path(user) %>
    </div>
  </div>
  <% end %>
<br>
</div>
