<div class="container">
  <div>
    <div class="col-md-4">
      <div class="profile_img text-center object-fit_contain">
      </div>

      <div class="row" style="width: 30rem;">
        <h2>Profile</h2>
        <%= image_tag @user.profile_image, class: "img-responsive rounded-circle"%>
        <div class="">
          <h3><strong> <%= @user.first_name %> <%= @user.last_name %></strong></h3>
          <p><strong>Date Joined: </strong><%= (@user.created_at).strftime("%m/%d/%Y") %></p>
          <p><strong>City: </strong> <%= @user.current_city %></p>
        </div>

        <div class="card">
          <%= button_to "Edit Profile", edit_user_path(@user), :method => "get", class: "btn btn-block btn-primary" %>

          <%= button_to "Remove", @user, method: :delete, data: {confirm: "Are you sure you want to delete your account? All hints will be removed."}, class: "btn btn-block btn-danger"  %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h3>Your hints</h3>
    <hr>
    <% if @user.tips.first == nil %>
    <p>You haven't added any hints!</p>
    <% end %>
    <% @user.tips.each do |tip| %>
    <h4><%= link_to tip.title, tip_path(tip) %></h4>
    <h6> <%= tip.city.name %></h6>
    <p><%= tip.body %></p>
    <hr>
    <% end %>
  </div>

