<div class="col-md-12 offset-1">
  <div class='jumbotron'>
    <%=image_tag @city.photo, class: "img-responsive city-img text-center"%>
    <div class="city-img-caption">
      <h1 class="text-center"><%= @city.name %><h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="card group">
        <div class="col-md-4">
          <div class="card-block">
            <% @city.tips.order(created_at: :desc).each do |tip|%>
              <strong><%= link_to tip.title.titleize, tip_path(tip) %></strong>
              by <%= link_to "#{tip.user.first_name} #{tip.user.last_name}", user_path(tip.user) %>
              <br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
       <!-- why does this link look like a button? BECAUSE: https://github.com/rails/rails/issues/2158 -->
        <%= link_to "Add New #{tip_rename}", new_tip_path(:city => @city.id), :method => "get", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>


</div>
