<h1> Update Tip </h1>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>

    <%= form_for @tip do |f| %>
      <div class='form-group'>
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "#{@tip.title}", class: 'form-control', autofocus: true %>

        <%= f.label :body %>
        <%= f.text_field :body, placeholder: "#{@tip.body}", class: 'form-control', autofocus: true %>

      </div>
      <%= f.submit 'Confirm Edit', class: 'btn btn-block btn-info' %>
    <% end %>

  </div>
</div>