
<div>
  <h3><%= @tip.title %></h3>
  <h4>by <%= @author.first_name %> <%= @author.last_name %></h4>
  <p><%= @tip.body %></p>
  <hr>
  <%= button_to "Edit", edit_tip_path(@tip), :method => "get", class: "btn btn-info" %>
</div>
